//
// Name: Buttons
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard button
 */
.button {

    .icon {
        // Enable click trough icons
        pointer-events: none;
    }

    &__hollow { }

    &__filled { }
}
