//
// Name: Button
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard button
 */
.button {
    border: 0;
    
    .icon {
        // Enable click trough icons
        pointer-events: none;
    }

    &.-color-white {
        background-color: white;
    }
    
    &.-type-hollow {
        
    }

    &.-type-solid {
        
    }
    
    &.-type-text {
        background-color: transparent;
    }
}
