// Name: Common
// Author: Graffino (http://www.graffino.com)

// !Common 
// ==|=========================================================================	
//Global
* { 
	box-sizing: border-box
}

.container {
	center(rem(1150))
	padding: 0 rem(15)
	
}
html {
	font-size: $base-font-size-px
	
	+below(960px) {
		font-size: 16px
	}
}
