//
// Name: Forms
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard form
 */
.form {
    cf();

    &__input {

        &::placeholder { }

    }
    &__button { }
    &__notice { }

    // h5Validate Plugin
    .ui-state-error { box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.2) inset; }
    .ui-state-valid { box-shadow: 0 0 0 1px rgba(0, 255, 0, 0.2) inset; }
}
