//
// Name: Link
// Author: Graffino (http://www.graffino.com)
//

/**
 * Link
 */
.link {
    color: $color-link;

    &.-color-white {
        color: white;
    }
    
    &.-size-small {
        font-size: $text-size-small;
    }
    &.-size-xsmall {
        font-size: $text-size-xsmall;
    }
}
