//
// Name: Text
// Author: Graffino (http://www.graffino.com)
//

/**
 * Text
 */
.text {
    color: $color-text;

    &.-color-white {
        color: $color-white;
    }
    
    &.-style-italic {
        font-style: italic;
    }

    &.-weight-normal {
        font-weight: 500;
    }
    
    &.-weight-medium {
        font-weight: 600;
    }
    &.-weight-bold {
        font-weight: 700;
    }
    
    &.-type-cursive {
        font-family: $cursive-font-family;
    }
    
    &.-size-xlarge {
        font-size: $text-size-xlarge;
    }
    &.-size-large {
        font-size: $text-size-large;
    }
    &.-size-normal {
        font-size: $text-size-normal;
    }
    &.-size-medium {
        font-size: $text-size-medium;
    }
    &.-size-small {
        font-size: $text-size-small;
    }
    
    &.-no-margin-top {
        margin-top: 0;
    }
}
