//
// Name: SVG Icons
// Author: Graffino (http://www.graffino.com)
//

/**
 * All icons
 */
.icon {
    display: inline-block;
    vertical-align: middle;

    // File icons
    &__file {
        svg-icon_file()
        svg-icon_file-dims()

        &-color {
            
        }
    }
}
