//
// Name: SVG Icons
// Author: Graffino (http://www.graffino.com)
//

/**
 * All icons
 */
.icon {
    display: inline-block;
    vertical-align: middle;

    // File icons
    &.-face-iconname {
        svg-iconname();
        svg-iconname-dims();

        &-color {

        }
    }
}
