// 
// Name: SVG Icons
// Author: Graffino (http://www.graffino.com)
// 

// !SVG Icons
// ==|=========================================================================
.icon {
	display: inline-block

	&__icon-name {
		svg-icon_file-heart()
		svg-icon_file-dims()
	}
}