//
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
//

/**
 * Mustache template
 */

{{#hasMixin}}{{mixinName}}() {
    background-image: url("../images/{{{sprite}}}");
    background-size: rem({{spriteWidth}}) rem({{spriteHeight}});
    background-repeat: no-repeat;
}
{{#hasCommon}}.{{commonName}}
    {{mixinName}}();

{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}${{/hasCommon}}{{commonName}} {
    background-image: url("../images/{{{sprite}}}");
    background-size: rem({{spriteWidth}}) rem({{spriteHeight}});
    background-repeat: no-repeat;
}
{{/hasMixin}}{{#shapes}}{{#selector.shape}}{{#escape}}{{expression}}() { {{/escape}}{{^last}},{{/last}}
{{/selector.shape}}    {{^hasCommon}}{{#hasMixin}}{{mixinName}}() {{/hasMixin}}{{^hasMixin}}@extend ${{commonName}};{{/hasMixin}}
    {{/hasCommon}}background-position: rem({{position.absolute.x}}) rem({{position.absolute.y}});{{#dimensions.inline}}
    width: rem({{width.outer}});
    height: rem({{height.outer}});{{/dimensions.inline}}
}{{#dimensions.extra}}
{{#selector.dimensions}}{{#escape}}{{expression}}() { {{/escape}}{{^last}},{{/last}}
{{/selector.dimensions}}    width: rem({{width.outer}});
    height: rem({{height.outer}});
}{{/dimensions.extra}}

{{/shapes}}
