//
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
//

/**
 * Mustache template
 */

sprite() {
    background-image: url("../images/sprite.svg");
    background-size: rem(100) rem(100);
    background-repeat: no-repeat;
}
svg-file() { 
    sprite() 
    background-position: rem(0) rem(0);
}
svg-file-dims() { 
    width: rem(100);
    height: rem(100);
}

