// 
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
// 


// !Mustache Template
// ==|=========================================================================

sprite() {
	background-image: url("../images/sprite.svg") 
	background-size: rem(0) rem(0)
	background-repeat: no-repeat
}


