// 
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
// 


// !Mustache Template
// ==|=========================================================================

svg-common() {
	background-repeat: no-repeat
	background-size: rem(100) rem(100)
	background-image: url('../images/sprite.svg')
}

svg-file() {
	background-position: rem(0) rem(0)
	svg-common()
}

svg-file-dims() {
	width: rem(100)
	height: rem(100)
}

