//
// Name: Stylus Variables
// Author: Graffino (http=//www.graffino.com)
//

/**
 *  Typography
 */

$serif-font-family        = FontName, Georgia, "Times New Roman", Times, serif;
$sans-font-family         = FontName, Helvetica, Arial, sans-serif;
$cursive-font-family      = FontName, "Comic Sans MS", cursive, sans-serif;
$default-font-family      = $serif-font-family;

/**
 * Headings
 */

// hero
$h-hero-font-family       = $serif-font-family;
$h-hero-font-size         = rem(35);
$h-hero-font-weight       = normal;
$h-hero-line-height       = 1.3;

// h1
$h-large-font-family      = $sans-font-family;
$h-large-font-size        = rem(60);
$h-large-font-weight      = normal;
$h-large-line-height      = 1.1;

// h2
$h-normal-font-family     = $sans-font-family;
$h-normal-font-size       = rem(38);
$h-normal-font-weight     = normal;
$h-normal-line-height     = 1.1;

// h3
$h-medium-font-family     = $cursive-font-family;
$h-medium-font-size       = rem(40);
$h-medium-font-weight     = normal;
$h-medium-line-height     = 1;

// h4
$h-small-font-family      = $cursive-font-family;
$h-small-font-size        = rem(28);
$h-small-font-weight      = normal;
$h-small-line-height      = 1.1;

/**
 * Colors
 */

$color-brand-white        = #fff;
$color-brand-black        = #000;
$color-brand-grey         = #767676;

$color-text-on-bright     = #000;
$color-text-on-dark       = #fff;
$color-text-emphasis      = $color-brand-grey;

$color-heading-on-bright  = #000;
$color-heading-on-dark    = #fff;

/**
 * Remify & Emify values
 */

$base-font-size           = 100%;
$base-font-size-px        = 16px;

rem(value) {
    u = unit(value)
    return unit(value/$base-font-size-px, 'rem')
}

em(value) {
    u = unit(value)
    return unit(value/$base-font-size-px, 'em')
}

/**
 * Folders
 */

$url-images               =    "../images";
$url-fonts                =    "../fonts";

/**
 * Breakpoints
 */

$xlarge                   = 1249px;
$desktop                  = 1119px;
$large                    = 1049px;
$medium                   = 939px;
$tablet                   = 767px;
$small                    = 639px;
$xsmall                   = 479px;
$iphone6p                 = 413px;
$iphone6                  = 374px;
$mobile                   = 319px;

scale = 0 319px 360px 374px 413px 479px 639px 767px 939px 1049px 1149px 1249px;
