//
// Name: Stylus Variables
// Author: Graffino (http://www.graffino.com)
//

/**
 * Typography
 */

$sans-font-family                   = "FontName", Helvetica, Arial, sans-serif;
$serif-font-family                  = "FontName", Georgia, "Times New Roman", Times, serif;
$cursive-font-family                = "FontName", cursive, sans-serif;
$default-font-family                = $sans-font-family;

/**
 * Headings
 */

// H1
$h-large-font-family                = $sans-font-family;
$h-large-font-size                  = $text-size-huge;
$h-large-font-weight                = 700;
$h-large-line-height                = 1;

// H2
$h-normal-font-family               = $sans-font-family;
$h-normal-font-size                 = $text-size-xxlarge;
$h-normal-font-weight               = 700;
$h-normal-line-height               = 1;

// H3
$h-medium-font-family               = $sans-font-family;
$h-medium-font-size                 = $text-size-xlarge;
$h-medium-font-weight               = 700;
$h-medium-line-height               = 1;

// H4
$h-small-font-family                = $sans-font-family;
$h-small-font-size                  = $text-size-normal;
$h-small-font-weight                = 700;
$h-small-line-height                = 1;

// Default text size
$default-text-size                  = $text-size-normal;
$default-line-height                = 1.5;
$default-color                      = $color-black;

$text-size-huge                     = rem(30);
$text-size-xxlarge                  = rem(25);
$text-size-xlarge                   = rem(20);
$text-size-large                    = rem(18);
$text-size-normal                   = rem(16);
$text-size-medium                   = rem(14);
$text-size-small                    = rem(12);
$text-size-xsmall                   = rem(10);

$text-size-button                   = $text-size-huge;
$text-size-input                    = $text-size-xlarge;

/**
 * Colors
 */

// Backgrounds
$color-background                   = $color-white;

// Text
$color-text                         = $color-black;

// Links
$color-link                         = $color-white;

// Buttons
$color-button-text                  = #fc8e17;
$color-button-stroke                = $color-text-stroke;

// Blacks / Whites
$color-white                        = #ffffff;
$color-black                        = #000000;

// Other colors
$color-nameofcolor-subname          = #ffffff;

/**
 * Base font sizes for EM / REM
 */

$base-font-size                     = 100%;
$base-font-size-px                  = 16px;

/**
 * Folders
 */

$url-images                         = "../images";
$url-fonts                          = "../fonts";

/**
 * Breakpoints
 */
$xlarge                             = 1249px;
$desktop                            = 1119px;
$large                              = 1049px;
$medium                             = 939px;
$tablet                             = 767px;
$small                              = 639px;
$xsmall                             = 479px;
$iphone6p                           = 413px;
$iphone6                            = 374px;
$mobile                             = 319px;

$scale                              = 0 319px 360px 374px 413px 479px 639px 767px 939px 1049px 1149px 1249px;
